<!-- <div class="flex-col items-center  mb-5">
  <h1><%=current_user.name%> all Post</h1> 


   
      
    <% @posts.each do |post|%> 
      <div class="flex-col ">
        Title: <%= link_to post.title, user_post_path(current_user, post) %>
      </div>
  <%end%>
  </div> -->

<div class="">
  
  <h1>Recent Posts</h1>

  <% @posts.each do |e| %>
    <div class=" " >
      <p><%= e.user.name %> posted this.</p>
      Title: <%= link_to e.title, user_post_path(e.user, e)%> 
      <p><%= "Likes: #{e.likes.count}" %></p>
    
      </div>
  <% end %>
</div>