<div class="">
  <h1><%= current_user.name %></h1> <br>
  <h2 class="">Title: <%= @post.title %></h2>

  <!-- Like button -->
  <%= button_to 'Like', like_post_path(@post), method: :post, remote: true, id: "like-btn" %>
  <!-- Display likes -->
  <p id="like-count">Likes: <%= @post.likes.count %></p>

  <h3>Comments:</h3> <br>
<%= render 'comments/index', comments: @post.comments %> <br>


  <%= render 'comments/new', post: @comment %>




</div>


